<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.me.pokequiz" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>PokeQuiz</name>
    <description>Quiz Pokémon</description>

    <!-- Page d'entrée -->
    <content src="index.html" />

    <!-- Réseau : autorisations générales + API cible -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="https://tyradex.app/*" />
    <allow-navigation href="https://tyradex.vercel.app/*" />

    <!-- Intents externes (liens http/https) -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Préférences utiles -->
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Orientation" value="portrait" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-file" />
</widget>
